.cardInfo{
  position:relative;
  max-width:373px;
  max-height:230px;
  overflow: hidden;
  margin:0 auto;
  
}
.cardText{
  position: absolute;
  top:0%;
  left:0%;
  padding-top: 87px;
  background-color:#292128e6;
  width:373px;
  height:143px;
    display:none;
}
.cardPhoto{
 max-width:373px;
  max-height:230px;
  overflow: hidden;
  transition:transform 2s linear;
}
.cardInfo:hover .cardPhoto{
  overflow: hidden;
  transform: scale(1.1);
}
.cardInfo:hover .cardText{
  display:block;
 


}